// Color Variables SCSS

$white:     #fff;
$black:     #000;

$xGrey:     #596169;
$xDarkBlue: #4b545d;
$xBlue:     #69a3e5;
$xGreen:    #5db792;

$xWhiteTransp: rgba(255,255,255,.2);
$xWhiteTranspHover: rgba(255,255,255,.3);