// Clients component SCSS
.xClients {
    background: $xDarkBlue;
    border-radius: $global-radius;
    padding: 1rem 1rem 3rem;
    color: $xBlue;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 2rem;
    &__desc {
        color: $white;
        padding: 5px 0;
    }
    &__active {
        margin: 0 auto;
        padding: 0;
        list-style-type: none;
        position: relative;
        width: 250px;
        height: 125px;
        overflow: hidden;

        &::before,
        &::after {
            position: absolute;
        }
        &::before {
            content: '';
            width: inherit;
            height: inherit;
            border: 45px solid $xGrey;
            border-bottom: none;
            border-top-left-radius: 175px;
            border-top-right-radius: 175px;
        }
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            width: inherit;
            height: inherit;
            border: 45px solid;
            border-top: none;
            border-bottom-left-radius: 175px;
            border-bottom-right-radius: 175px;
            transform-origin: 50% 0;
            transform-style: preserve-3d;
            backface-visibility: hidden;
            animation-fill-mode: forwards;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            z-index: 4;
            border-color: $xBlue;
            animation-name: rotate-one;
        }
        div {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            font-size: 3rem;
            font-weight: 300;
            line-height: 1;
            text-align: center;
            span {
                font-size: 1rem;
                display: block;
            }
        }
    }
    &__monthly {
        text-align: center;
        @media screen and (max-width: 740px) {
            margin-top: 2rem;
        }
        &-item {
            background: $xGrey;
            height: 120px;
            width: 10px;
            display: inline-block;
            position: relative;
            border-radius: $global-radius;
            margin: 0 4px;
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                background: $white;
                width: 10px;
                border-radius: $global-radius;
            }
        }
    }
    &__increase {
        align-self: flex-end;
        @media screen and (max-width: 39.9375em) {
            margin-top: 2rem;
        }
        &-num {
            font-size: 3rem;
            text-align: center
        }
        i {
            font-size: 2rem;
            display: block;
        }
    }
}
.clients {
    &100:after {
        animation: chartAnime100 .5s;
    }

    &110:after {
        animation: chartAnime110 .5s;
    }
    &120:after {
        animation: chartAnime120 .5s;
    }
    &130:after {
        animation: chartAnime130 .5s;
    }
    &140:after {
        animation: chartAnime140 .5s;
    }
    &150:after {
        animation: chartAnime150 .5s;
    }
    &160:after {
        animation: chartAnime160 .5s;
    }
    &170:after {
        animation: chartAnime170 .5s;
    }
    &180:after {
        animation: chartAnime180 .5s;
    }
    &190:after {
        animation: chartAnime190 .5s;
    }
    &200:after {
        animation: chartAnime200 .5s;
    }
}